target
frontend/node_modules
frontend/pkg
frontend/wasm-pack.log
frontend/dist
.vscode
frontend/example_inputs/example_inputs
.Rproj.user
release/
**/compositions_map.*
**/Librarian_analysis.html
**/librarian_heatmap.txt
**/prediction_plot.*
**/probability_maps.*